<div align="center">
  <table width="729" height="246" border="1">
    <tr>
      <td width="20" rowspan="4" bgcolor="#006699">&nbsp;</td>
      <td colspan="2" bgcolor="#FF99CC"><h1 align="center" class="Estilo1">ALMACEN</h1></td>
      <td width="20" rowspan="4" bgcolor="#006699">&nbsp;</td>
    </tr>
    <tr>
      <td width="295"><center><%=link_to image_tag('productos.jpg', :alt => 'Mos'), productos_path %></center> </td>
      <td width="320"><center><%=link_to image_tag('categorias.png', :alt => 'Mos'), categoria_path %></center> </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
	 <tr>
      <td colspan="2" bgcolor="#FF99CC">&nbsp;</td>
    </tr>
  </table>
</div>
