<h1>SAJOMA S.A. CONTACTAME</h1>

		</div>
	  </div>
	</div>
   <!----End-header----->
	     
		 <!---start-content---->
		 <div class="wrap">
		 	<div class="about-desc">
		     <div class="content">	 	
		      <div class="about-data"> 
		       <h2>Ponerse en contacto</h2>
		          <div class="contact-form">
		          	<div class="left_form">
					     <form method="post" action="contact-post.html">
					    	<div>
						    	<span><label>Nombre</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-mail</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						  </div>
					     <div class="right_form">
					        <div>					    	
						    	<span><label>Motivo</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Submit" class="myButton"></span>
						   </div>
						 </div>
						  <div class="clear"></div>
					    </form>
				    </div>
				  <div class="content_bottom">
				 	<div class="company_address">
				     	<h2>Ubicacion</h2>
						    	<p>Calzada-Moyobamba,San Mrtin-Perú</p>
						   		<p>Jr.2 de Mayo S/N</p>
						   		<p>USA</p>
				   		<p>Telefono:(042) 526799</p>
				 	 	<p>Email: <span><a href="ericck-89@hotmail.com">ericck-89@hotmail.com</a></span></p>
				   		<p>Follow on: <span><a href="#">Facebook</a></span>, <span><a href="#">Twitter</a></span></p>
				     </div>
				       <div class="contact_info">
    	 				<h2>Encuentranos Aqui!!!</h2>
					    	  <div class="map">
							   	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7935.426761806935!2d-77.06600806528097!3d-6.0340159013697106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b72451e0cc63ad%3A0xe98ee291aeb1a0f5!2sCalzada!5e0!3m2!1ses-419!2spe!4v1434030573118" width="600" height="450" frameborder="0" style="border:0"></iframe>
							  </div>
      				     </div>
				      <div class="clear"></div>
	                </div>
		 	  </div>
			</div>
			</div>
		  </div>		   			
		 <!---End-content---->
		  <!---start-footer---->
		  <div class="footer">
		    <div class="wrap">
			   	
			<div class="clear"> </div>
		</div>
	</div>
		 <!---End-footer---->