

<p class="text-success"><%=flash[:notice] %></p>

<h2><span>BIENVENIDOS!!! SAJOMA S.A. PRODUCTOS LACTEOS ECOALIMENTARIOS </span></h2>
                <h2>100% NATURAL</h2>
            </div>
             <div class="flexslider">
                  <ul class="slides">
                    <li><img src="images/slide1.jpg" alt="" /></li>
                    <li><img src="images/slide2.jpg" alt="" /></li>
                    <li><img src="images/slide3.jpg" alt="" /></li>
                   </ul>
                  <script type="text/javascript">
                    $(function(){
                      SyntaxHighlighter.all();
                    });
                    $(window).load(function(){
                      $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: false
                      });
                    });
                  </script>
                </div>

        </div>
      </div>
    </div>
   <!----End-header----->
           
         <!---start-content---->
         <div class="wrap">
           <div class="content">         
               <div class="top-grids">
                    <div class="section group">
                        <div class="grid_1_of_3 images_1_of_3 top_grid">
                            <div class="topgrid-desc">                           
                              <h3>Yogurt</h3>
                              <p>Contiene más de cien millones de bacterias vivas que presentan una gran cantidad de vitaminas del grupo B. Estas bacterias ayudan a combatir toda clase de infecciones en el sistema digestivo del cuerpo humano. </p>
                              </div>
                              <img src="images/grid-img1.jpg" alt="" />
                        </div>
                         <div class="grid_1_of_3 images_1_of_3 top_grid">
                             <div class="topgrid-desc">                          
                              <h3>Queso</h3>
                              <p>Este alimento es derivado de la leche. Por ello, es una importante fuente de calcio para el organismo. Prácticamente todos los beneficios del queso para la salud son posibles gracias a su rico contenido en calcio.</p>
                              </div>
                              <img src="images/grid-img2.jpg" alt="" />
                         </div>
                        <div class="grid_1_of_3 images_1_of_3 top_grid">
                             <div class="topgrid-desc">                          
                              <h3>Manjar</h3>
                              <p>Es un tipo de secreción de alto valor nutricional con una composición del 89% de agua. Contiene proteínas, lípidos y lactosa.Vitaminas Liposolubles: Vitamina A, provitamina D3, Vitamina D3, Vitamina E, K </p>
                              </div>
                           <img src="images/grid-img3.jpg" alt="" />
                        </div>
                    </div>
                </div>
                
              <div class="content-middle">
              <div class="content-middle-top">
                <h4>Fundo Sajoma!!! Centro Turistico Campestre</h4>
              </div>
               <div class="content-middle-desc">
                <div class="section group">
                <div class="lsidebar span_3_of_1">
                    <img src="images/grid-img.jpg" alt="" />
                 </div> 
                <div class="cont span_3_of_2">
                    <h3>Disfruta de la naturaleza</h3>
                    <p>Ven y pasa la e mejor experiencia de tu vida con la naturaleza y animales de garnja donde despejaras la mente junto a tu familia y amigo te ofrecemos hospedaje,comida,vivero y con un psicologo que le dara charlas para liberar la estres y vivir en felicidad </p>
                    <div class="more-info more-info2"><a href="#">Más</a></div>
                  </div>
                </div>
               </div>
              </div>
              
             <div class="content-bottom"> 
              <div class="section group">
                <div class="cont span_2_of_3">
                 <div class="services-desc-block">
                    <h3>Ganaderia</h3>
                    <p>Eent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. </p>
                    <div class="more-info"><a href="#">Más</a></div>
                 </div>
                  <div class="services-desc-block">
                    <h3>Vivero</h3>
                    <p>Vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. </p>
                    <div class="more-info"><a href="#">Más</a></div>
                 </div>
                </div>  
                <div class="rsidebar span_1_of_3">
                    <h3>Dejanos tu cometartio</h3>
                    <div class="news-letter">
                        <form method="post" action="contact-post.html">
                                <span><label>Nombre</label></span>
                                <span><input name="userName" type="text" class="textbox"></span>
                                <span><label>Email</label></span>
                                <span><input name="userEmail" type="text" class="textbox"></span>
                                <span><label>Mensaje</label></span>
                                <span><textarea name="userMsg"> </textarea></span>
                                <span><input type="submit" value="Enviar" ></span>
                         </form>
                     </div>
                 </div>         
               </div>
              </div>  



