<div align="center">
  <table width="746" height="500" border="5" bordercolor="#FF0000">
    <tr>
      <td width="8" rowspan="3" bgcolor="#FFCCFF">&nbsp;</td>
      <td height="68" colspan="4" bgcolor="#FFCCFF"><h1 align="center" class="Estilo1">Mantenimiento</h1></td>
      <td width="8" rowspan="3" bgcolor="#FFCCFF">&nbsp;</td>
    </tr>
    <tr>
      <td height="168" colspan="2" bgcolor="#99CCCC"><%=link_to image_tag('trabajador.png', :alt => 'Mos'), root_path %></td>
      <td height="168" colspan="2" bgcolor="#CC99FF"><div align="center"><%=link_to image_tag('proveedor.png', :alt => 'Mos'), proveedors_path %></div></td>
    </tr>
    
    
    <tr>
      <td width="262" height="252" bgcolor="#D9F0E2"><div align="center"></div></td>
      <td height="168" colspan="2" bgcolor="#999999"><div align="center"></div><%=link_to image_tag('cliente.png', :alt => 'Mos'), clientes_path %></td>
      <td width="216" bgcolor="#D5F0E2"><div align="center"></div></td>
    </tr>
  </table>
</div>