<h1>New inventario</h1>
<%#= render 'form' %>
<%#= link_to 'Back', inventarios_path %>
<% content_for :title do %>
Nuevo Inventario
<% end %>

<h1>Nuevo Inventario</h1>

<%= render :partial => "form" %>
<%= link_to "Listado", inventarios_path %>
